{% extends 'layout' %}


{% block main %}

	<h1 class="title is-1">NCD Sucht Prototype</h1>
	<div class="content is-medium">
		<p>This prototype shows how to implement different mechanisms of the ncd-sucht platform.</p>
		<p>It is based on Craft CMS. Some «Test Content» Articles were loaded into the sections articles and events.</p>


		<div class="columns">
			<div class="column">
				<div class="box">
					<h2 class="is-size-4">Algolia Instant Search</h2>
					<p>Show live autocomplete results while typing in the search bar. This is used for instant search feedback. It will use Algolia for that, on both search variants.</p>
				</div>
			</div>
			<div class="column">
				<div class="box">
					<h2 class="is-size-4">Search Result Pages</h2>
					<p>In this example, the mechanism of selecting the right search result page is explained.</p>

				</div>
			</div>
		</div>


	{% endblock %}
