{% extends 'layout' %}


{% block main %}


	
	
	<h1 class="title is-1">Search result example</h1>
	<h2 class="subtitle">With <strong>no</strong> content type</h2>


	<div class="columns">
		<div class="column is-half">

			<div class="content">
				In this example, no "content type" facet filter is used to filter the result. So the result is grouped into different content types.
			</div>

			<div class="box">
				<table class="table is-striped is-fullwidth">
					<colgroup>
						<col width="20%">
						<col width="*">
					</colgroup>
					<tbody>
						<tr>
							<th>Content Type</th>
							<td><code>No Type here! (see URL)</code></td>
						</tr>
						<tr>
							<th>Query</th>
							<td>{{ query }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<h2 class="title is-2">Results</h2>


	{# Here, I take the serach query and query Algolia for the results #}
	{% set search = craft.algolia.search({
		index: 'dev_CONTENT',
		query: query,
		params: {
			hitsPerPage: 20,
		}
	}) %}

	{# 
	 # The result is a list of all results. Ordered and prioritized by our settings in algolia. 
	 # From here on, it is our job in Craft/Twig to regroup the content in a way, so we can show it as we like.
	 # This means, grouping the results in content type groups or so.
	 #
	 # In the example it is done in twig, but maybe a little backend module can be created to help doing this with normal PHP, which
	 # has a bit more options.
	 #
	 # Note that in this case, we use the "ObjectID" returned from Algolia to then load the real craft entries. This might be not very
	 # good from a performance perspective and it is beneficial to setup the Algolia indices to contain all data that is necessary to show
	 # items in a list view. With this approach, you can show a result page without even touching the cms data.
	 # 
	 #}

	{% set articleIds = [] %}
	{% set eventIds = [] %}

	{% for hit in search.hits %}
		{% switch hit.type %}
			{% case "articles" %}
				{% set articleIds = articleIds|merge([hit.objectID]) %}
			{% case "events" %}
				{% set eventIds = eventIds|merge([hit.objectID]) %}
			{% default %}
		{% endswitch %}
	{% endfor %}

	{% set articles = craft.entries.id(articleIds) %}
	{% set events = craft.entries.id(eventIds) %}

	{% if articles|length %} 
		<h3 class="title is-3">Artikel</h3>
		{% include "components/articlesList.twig" with { articles: articles } only %}
	{% endif %}

	<br><br>

	{% if events|length %}
		<h3 class="title is-3">Events</h3>
		{% include "components/eventsList.twig" with { events: events } only %}
	{% endif %}
	



{% endblock %}
