{% extends 'layout' %}


{% block main %}

	<h1 class="title is-1">Craft-based Search result example</h1>
	<h2 class="subtitle">With a content type</h2>


	<div class="columns">
		<div class="column is-half">

			<div class="content">
				In this example, a "content type" facet filter is used to filter the result. Only [type] (e.g. articles) are shown
			</div>

			<div class="box">
				<table class="table is-striped is-fullwidth">
					<colgroup>
						<col width="20%">
						<col width="*">
					</colgroup>
					<tbody>
						<tr>
							<th>Content Type</th>
							<td>{{ type }}</td>
						</tr>
						<tr>
							<th>Query</th>
							<td>{{ query }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<h2 class="title is-2">Results</h2>

	{% set results = craft.entries({
		search: query,
		section: type,
	}) %}

	<div class="columns is-multiline is-mobile">
		{% for result in results[:3] %}
			<div class="column is-one-third">
				{% if result.type == 'articles' %}
					{% include 'components/article.twig' with { article: result } only %}
				{% endif %}

				{% if result.type == 'events' %}
					{% include 'components/event.twig' with { event: result } only %}
				{% endif %}
			</div>
		{% endfor %}
	</div>


{% endblock %}
