{% extends 'layout' %}


{% block main %}

	<h1 class="title is-1">Craft-based Search result example</h1>
	<h2 class="subtitle">With <strong>no</strong> content type</h2>


	<div class="columns">
		<div class="column is-half">

			<div class="content">
				In this example, no "content type" facet filter is used to filter the result. So the result is grouped into different content types.
			</div>

			<div class="box">
				<table class="table is-striped is-fullwidth">
					<colgroup>
						<col width="20%">
						<col width="*">
					</colgroup>
					<tbody>
						<tr>
							<th>Content Type</th>
							<td><code>No Type here! (see URL)</code></td>
						</tr>
						<tr>
							<th>Query</th>
							<td>{{ query }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<h2 class="title is-2">Results</h2>


	{% set articles = craft.entries({
		search: query
	}) %}
	
	{% set events = craft.entries({
		search: query
	}) %}

	

	{% if articles|length %} 
		<h3 class="title is-3">Artikel</h3>
		{% include "components/articlesList.twig" with { articles: articles } only %}
	{% endif %}

	<br><br>

	{% if events|length %}
		<h3 class="title is-3">Events</h3>
		{% include "components/eventsList.twig" with { events: events } only %}
	{% endif %}
	



{% endblock %}
