{% extends 'layout' %}


{% block main %}


	{% set categories = craft.request.getParam('categories') %}
	{% set organisation = craft.request.getParam('organisation') %}
	{% set search = craft.request.getParam('search') %}

	{% if entryType is defined %}
		{% if entryType == 'articles' %}
			{% if categories|length %}
				{% set resultTemplate = '/pages/results/results-articles' %}
			{% else %}
				{% set resultTemplate = '/pages/results/results-articles-grouped' %}
			{% endif %}
		{% elseif entryType == 'events' %} 
			{% set resultTemplate = '/pages/results/results-events' %}
		{% endif %}
	{% else %}
		{% set resultTemplate = '/pages/results/results' %}
	{% endif %}



	




	<h1 class="title is-1">Search Results</h1>
	<div class="box">
		{% include "pages/results/_search-info" %}
	</div>

	<div class="box">
		<strong>Result template determination</strong>: <code>{{ resultTemplate }}</code>
	</div>
	
	<h2 class="title is-4">Results:</h2>

	{% include resultTemplate %}

{% endblock %}
