<div class="notification is-primary">
    This result page shows articles, together with a category search
</div>



{% set search = craft.request.getParam('search') %}
{% set orderBy = search ? 'score' : 'relevanceScore DESC' %}
{% set catTerms = craft.request.getParam('categories') ? craft.request.getParam('categories')|split(',') : null %}
{% set foundCategories = [] %}

{% if catTerms %}
    {# 1. Search in all categories with all terms. #}
    {% for catTerm in catTerms %}
        {% set categories = craft.categories({
            search: catTerm
        }).all() %}
        
        {% if categories %}
            {# 2. Combine all found categories into one list #}
            {% set foundCategories = foundCategories|merge(categories) %}    
        {% endif %}
    {% endfor %}
{% endif %}




{# 3. Search for articles that are related to ALL of the categories ('and') #}
{% set articles = craft.entries({
    section: 'articles',
    search: search,
    relatedTo: foundCategories|length ? { targetElement: ['and']|merge(foundCategories)} : null,
    orderBy: orderBy,
}) %}

{% if articles|length %} 
    <h3 class="title is-3">Artikel, {{ craft.request.getParam('categories') }}</h3>
    {% include "components/articlesList.twig" with { articles: articles } only %}
{% endif %}
