{% extends 'layout' %}


{% block main %}

    {% set articles = craft.entries({
        section: 'articles',
        limit: 6
    }).all() %}


    {% set events = craft.entries({
        section: 'events',
        limit: 6,
    }).all() %}


    <h1 class="title is-1">ncd-sucht Prototype</h1>

    {# {% if currentUser%}
        <div class="content">
        <p>Eingeloggt als. <strong>{{ currentUser }}</strong></p>
        <p>Es werden nur Lieblingskategorien angezeigt:</p>
        <ul>
            {% for category in currentUser.favouriteCategories.all() %}
                <li>
                    {{ category }}
                </li>
            {% endfor %}
        </ul>
        </div>
    {% endif %}
     #}

    <br>
    <h2 class="title is-2">Artikel</h2>

    <div class="columns is-multiline is-mobile">

        {% for article in articles %}
            <div class="column is-one-third">
                {% include 'components/article.twig' with { article: article } only %}
            </div>
        {% endfor %}
    </div>

    <br>
    <h2 class="title is-2">Events</h2>

    <div class="">

        {% for event in events %}
            {% include 'components/event.twig' with { event: event } only %}
        {% endfor %}
    </div>
{% endblock %}
