<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <title>NC01 ncd-sucht Prototyp</title>

        <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" integrity="sha256-vK3UTo/8wHbaUn+dTQD0X6dzidqc5l7gczvH+Bnowwk=" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="/build/app.css">

    </head>
    <body>

        <header>
            <div class="container">
                <nav aria-label="main navigation" class="navbar" role="navigation">
                    <div class="navbar-menu" id="navbarBasicExample">
                        <div class="navbar-start">
                            <a class="navbar-item" href="/">
                                Startseite
                            </a>

                            <a class="navbar-item" href="/vue-instant-search">
                                Suche (InstantSearch)
                            </a>
                            <a class="navbar-item" href="/vanilla-search">
                                Suche (Vanilla)
                            </a>
                            {# <a class="navbar-item" href="/loginpage"> 
                                Member Login
                            </a> #}
                        </div>
                    </div>
                </nav>
            </div>

            <br><br>
        </header>

        <main>

            <div class="container main"> {% block main %}{% endblock %}
                </div>
            </main>


            <script type="text/javascript">
                window.env = {{ {
                    'ALGOLIA_APPLICATION_ID': craft.scout.algoliaApplicationId,
                    'ALGOLIA_SEARCH_API_KEY': craft.scout.algoliaSearchApiKey,
                }|json_encode|raw }};
            </script>

            <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
            <script type="text/javascript" src="/build/app.js"></script>

        </body>
    </html>
