<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <title>NC01 ncd-sucht Prototyp</title>

        <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" integrity="sha256-vK3UTo/8wHbaUn+dTQD0X6dzidqc5l7gczvH+Bnowwk=" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="/build/app.css">

    </head>
    <body>

        <header>
            <div class="container">
                <nav aria-label="main navigation" class="navbar" role="navigation">
                    <div class="navbar-menu" id="navbarBasicExample">
                        <div class="navbar-start">
                            <a class="navbar-item" href="/">
                                Startseite
                            </a>

                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link">V1: Algolia Results</a>

                                <div class="navbar-dropdown">
                                    <a href="/algolia-based/algolia-vue-instant-search" class="navbar-item">Search (Vue Instant-Search)</a>
                                    <a href="/algolia-based/algolia-vanilla-search" class="navbar-item">Search (Algolia Vanilla JS)</a>
                                    <hr class="navbar-divider">
                                    <a href="/algolia-based/results/articles/Alkoholpr채vention" class="navbar-item">Result Example: Articles + Alkoholpr채vention</a>
                                    <a href="/algolia-based/results/events/Cannabis" class="navbar-item">Result Example: Events + Cannabis</a>
                                    <a href="/algolia-based/results/Cannabis" class="navbar-item">Result Example: Cannabis</a>
                                </div>
                            </div>

                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link">V1: Craft Native Results</a>

                                <div class="navbar-dropdown">
                                    <a href="/craft-based/algolia-vue-instant-search" class="navbar-item">Search (Vue Instant-Search)</a>
                                    <a href="/craft-based/algolia-vanilla-search" class="navbar-item">Search (Algolia Vanilla JS)</a>
                                    <hr class="navbar-divider">
                                    <a href="/craft-based/results/articles/Alkoholpr채vention" class="navbar-item">Example: Articles + Alkoholpr채vention</a>
                                    <a href="" class="navbar-item">Example: Events + Cannabis</a>
                                    <a href="" class="navbar-item">Example: Cannabis</a>
                                </div>
                            </div>

                            {# <a class="navbar-item" href="/loginpage"> 
                                Member Login
                            </a> #}
                        </div>
                    </div>
                </nav>
            </div>

            <br><br>
        </header>

        <main>

            <div class="container main"> {% block main %}{% endblock %}
                </div>
            </main>


            <script type="text/javascript">
                window.env = {{ {
                    'ALGOLIA_APPLICATION_ID': craft.scout.algoliaApplicationId,
                    'ALGOLIA_SEARCH_API_KEY': craft.scout.algoliaSearchApiKey,
                }|json_encode|raw }};
            </script>

            <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
            <script type="text/javascript" src="/build/app.js"></script>

        </body>
    </html>
