{% extends 'layout' %}


{% block main %}

    {% set articles = craft.entries({
        section: 'articles',
    }).all() %}


    {% set events = craft.entries({
        section: 'events',
    }).all() %}


    <h1 class="title is-1">Suche Prototyp</h1>

    <div class="content">
        <p>Die Standardsuche von Craft CMS ist vermutlich für das Projekt mehr als ausreichend. Alle zum Inhalt gehörenden Felder werden von der Suche gefunden. Sowohl Tags, 
                                        als auch Inhaltstexte, Kategorie etc. werden durchsucht.</p>

        <p>In diesem Beispiel werden Artikel und Events zurückgegeben. Mögliche Suchwörter als Beispiel:</p>

        <ul>
            <li>Sucht (Kategorie)</li>
            <li>Zigaretten (ein Tag)</li>
            <li>Info (Titel Event)</li>
            <li>Verlust der Kontrolle (Volltext)</li>
        </ul>

        <p>Falls das nicht ausreicht, kann man sehr leistungsstarke externe Suchmaschinen einbinden: <a href="https://plugins.craftcms.com/scout" target="_blank" rel="noopener noreferrer">Craft Scout</a></p>
    </div>


    <form action="/suche">

        <div class="field">
            <input class="input" name="query" placeholder="Suche..." type="text">
        </div>

        <div class="field">
            <input class="button is-link" type="submit" value="Suchen">
        </div>
    </form>


    <br>
    <h2 class="title is-4">Ergebnisse:</h2>

    {% set searchQuery = craft.app.request.getParam('query') %}


    {% if searchQuery %}

        {% set results = craft.entries()
        .section(['articles','events'])
        .search(searchQuery)
        .all() %}

        <div class="results">
            {% for result in results %}
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                {% if result.ar_image %}
                                    <img alt="Image" src="{{ result.ar_image.one().getUrl('default') }}">
                                {% endif %}
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">

                                <h4>{{ result.title }}</h4>

                                <br>
                                {% if result.ar_text %}
                                    <p>{{ result.ar_text|raw|striptags|slice(0, 200) }}&hellip;</p>
                                {% endif %}

                                {% if result.ar_tags %}

                                    {% for tag in result.ar_tags.all() %}
                                        <span class="tag">
                                            {{ tag }}
                                        </span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>

    {% endif %}
    <br>

{% endblock %}
